%h2
  = raw("#{link_to('Ministry of Users', [:big_brother, :users])} / Search for '#{params[:search]}'")

- form_tag [:search, :big_brother, :users], :method => :get do
  %fieldset
    %ul
      %li
        = text_field_tag :search, params[:search], :class => :text
        = submit_tag 'Search', :class => :submit

= render :partial => 'users'