#content_full
  %h2
    Reset Your Password

  %p
    Please reset your password and we'll log you in!


  - form_for @user, :url => password_reset_path(params[:perishable_token]) do |f|
    %ul
      %li
        %label
          New Password
        = f.password_field :password, :class => :text
      %li
        %label
          Confirm Pass.
        = f.password_field :password_confirmation, :class => :text
      %li.submit_contain
        = hidden_field_tag :perishable_token, params[:perishable_token]
        = f.submit 'Reset Your Password', :disable_with => 'Resting Your Password ...', :class => 'submit'
        |
        = link_to 'Return to Home', root_path
          
