= "#{@user.full_name}," unless @user.full_name.blank?

We're sorry you forgot your password - you can reset you password here:
= "http://www.motivationdashboard.com#{reset_password_path(@user.perishable_token)}"

= "----"

The Team at Motivational Dashboard