%h2
  Your Details
  = link_to 'Edit', edit_user_path

%ul.no_bullets
  %li
    %strong First Name:
    = current_user.first_name
  %li
    %strong Last Name:
    = current_user.last_name
  %li
    %strong Email:
    = current_user.email

%p
  %strong= link_to 'Back to Dashboard', dashboard_path