- unless flash[:notice].blank?
  %div.flash_notice
    %span.right
      = link_to 'Close', '#', :onclick => "$(this).parent().parent().slideUp();"
    = flash[:notice]
  
- unless flash[:info].blank?
  %div.flash_info
    %span.right
      = link_to 'Close', '#', :onclick => "$(this).parent().parent().slideUp();"
    = flash[:info]

- unless flash[:error].blank?
  %div.flash_error
    %span.right
      = link_to 'Close', '#', :onclick => "$(this).parent().parent().slideUp();"
    = flash[:error]