%h2
  Create Account or Login

- form_for @user, :url => users_path do |f|
  = debug @user.errors
  %ul
    %li
      %label
        Email
      = f.text_field :email, :class => 'text'
    %li
      %label
        Password
      = f.password_field :password, :class => 'text'
    %li
      = f.submit 'Create Account'
      = '-or-'
      = f.submit 'Login'
    %li
      = link_to 'Forgot your password?', forgot_password_path