.home_left_1
  %h2
    Realtime visualization of your data.
  %p
    = "- Setup custom widgets to display your data the way you want"
    %br
    %br
    = "- Track sales, support requests, and analytics all in one place"
    %br
    %br
    = "- Monitor trends and make better informed business decisions"
    %br
    %br
    = "- Growing support for many popular APIs"


.home_right_1
  = image_tag 'super_cool_video.jpg'
  
.home_left_2
  %h2
    Create Account / Sign In

  - form_for @user, :url => users_path do |f|
    %ul
      %li
        %label Your Email
        = f.text_field :email, :class => 'text'
      %li
        %label Password
        = f.password_field :password, :class => 'text'
      %li.submit_contain
        = f.submit 'Create Account', :class => 'submit'
        = '-or-'
        = f.submit 'Sign In', :class => 'submit'
      %li.submit_contain
        = link_to 'Forgot your password?', forgot_password_path

.home_right_2
  %h2
    Beta Mailing List
  
  %p
    Motivation Dashboard is a creation of a 48 hour project of <a href="http://railsrumble.com/">Rails Rumble 2010<a/>. We plan on continuing the project post rumble - so you if you want us to keep you posted, let us know!
  
  - form_for @subscriber, :url => root_path do |f|
    %ul
      %li
        %label Your Email
        = f.text_field :email, :class => :text
        = f.submit 'Subscribe', :class => 'submit'