.home_left_1
  %h2
    Realtime visualization of your data.
  %p
    = "- Setup custom widgets to display your data the way you want"
    %br
    %br
    = "- Track sales, support requests, and analytics all in one place"
    %br
    %br
    = "- Monitor trends and make better informed business decisions"
    %br
    %br
    = "- Growing support for many popular APIs"
    %br
    %br
    = "- Motivation Dashboard API available for your own applications"

.home_right_1
  :plain
    <object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/Nnd-jxH2Yrs?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Nnd-jxH2Yrs?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="448" height="235"></embed></object>
  
.home_left_2
  %h2
    Create Account / Sign In
  
  - if current_user
    %p.welcome_back
      = raw("Welcome back <strong>#{current_user.user_bar_name}</strong>! <strong>#{link_to('Take me to My Dashboard', dashboard_path)}</strong>!")
      %br
      %br
      %strong= link_to 'Not you?', logout_path
    
  - else
    - form_for @user, :url => users_path do |f|
      %ul
        %li
          %label Your Email
          = f.text_field :email, :class => 'text'
        %li
          %label Password
          = f.password_field :password, :class => 'text'
        %li.submit_contain
          = f.submit 'Create Account', :class => 'submit'
          = '-or-'
          = f.submit 'Sign In', :class => 'submit'
        %li.submit_contain
          = link_to 'Forgot your password?', forgot_password_path

.home_right_2
  %h2
    Beta Mailing List
  
  %p
    Motivation Dashboard is 48 hour project created for <a href="http://railsrumble.com/">Rails Rumble 2010</a>. We plan on continuing developing the application post-rumble so if you want us to keep you posted, let us know!
  
  - form_for @subscriber, :url => root_path do |f|
    %ul
      %li
        %label Your Email
        = f.text_field :email, :class => :text
        = f.submit 'Subscribe', :class => 'submit'