%h2
  Create Account or Login

- form_for @user do |f|
  %ul
    %li
      %label
        Email
      = f.text_field :email, :class => 'text'
    %li
      %label
        Password
      = f.text_field :password, :class => 'text'
    %li
      = f.submit 'Create Account'
      = '-or-'
      = f.submit 'Login'
    %li
      = link_to 'Forgot your password?', '#'