!!! Strict
%html{:lang =>"en"}
  %head
    %title
      Motivation Dashboard
    = stylesheet_link_tag 'default', 'application'
    = javascript_include_tag %w(rails utilities)
  %body
    #wrapper
      #header
        %h1
          = link_to 'Motivation Dashboard', root_path
      #main
        = render :partial => 'shared/flashes'
        = yield :layout
        :plain
          <script type="text/javascript">
            var rumbleUrl = 'http://railsrumble.com';
          </script>
          <script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>
        
      #footer
        MotivationDashboard.com