!!! Strict
%html{:lang =>"en"}
  %head
    %title
      Motivation Dashboard | Realtime visualization of your data. The way you want.
    = stylesheet_link_tag 'default', 'application'
    
    - if Rails.env.production?
      = javascript_include_tag %w(jquery.min rails utilities)
    - else
      = javascript_include_tag %w(jquery rails utilities)
    :plain
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1285820-4']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
  %body
    #wrapper
      #header
        -#
          %ul
            %li.nav_01{:class => request.path_info == '/' ? 'at' : ''}= link_to 'Home', root_path
            %li.nav_02{:class => request.path_info == '/features' ? 'at' : ''}= link_to 'Features', features_path
            %li.nav_03{:class => request.path_info == '/pricing' ? 'at' : ''}= link_to 'Pricing', pricing_path
        %h1
          = link_to image_tag('logo.png', :width => 30) << raw(' Motivation Dashboard<sup>beta</sup>'), dashboard_path
      = render :partial => 'shared/flashes'
      = yield :layout
      :plain
        <script type="text/javascript">
          var rumbleUrl = 'http://railsrumble.com';
        </script>
        <script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>