!!! Strict
%html{:lang =>"en"}
  %head
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %title= current_user.dashboard.name == 'Motivation Dashboard' ? current_user.dashboard.name : "Motivation Dashboard - #{current_user.dashboard.name}"
    = stylesheet_link_tag 'default', 'dashboard'
    - if Rails.env.production?
      = javascript_include_tag %w(jquery.min jquery.masonry.min underscore-min rails mustache utilities widget_templates dashboard)
    - else
      = javascript_include_tag %w(jquery jquery.masonry underscore rails mustache utilities /widget_templates.js dashboard)
  %body
    #wrapper
      #header
        %span.right.top_menu
          %ul
            %li= link_to(image_tag('blockie/button-add-blue.png', :style => 'width:24px') << ' Add Widget', '/setup')
            %li= link_to('My Account', user_path(current_user))
            %li= link_to('Logout', logout_path)
        %h1
          = link_to image_tag('logo.png', :width => 30) << ' Motivation Dashboard', dashboard_path
      #main
        = render :partial => 'shared/flashes'
        = yield
      #footer
        = image_tag('logo.png', :width => 15) << " MotivationDashboard.com"