!!! Strict
%html{:lang =>"en"}
  %head
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %title= current_user.dashboard.name == 'Motivation Dashboard' ? current_user.dashboard.name : "Motivation Dashboard - #{current_user.dashboard.name}"
    = stylesheet_link_tag 'default', 'dashboard'
    - if Rails.env.production?
      = javascript_include_tag %W(jquery.min jquery.masonry.min jquery.jclock underscore-min rails mustache utilities /widget_templates.js http://#{request.host}:8000/faye.js dashboard raphael-min g.raphael g.bar g.line g.pie g.custom)
    - else
      = javascript_include_tag %W(jquery jquery.masonry jquery.jclock underscore rails mustache utilities /widget_templates.js http://#{request.host}:8000/faye.js dashboard raphael g.raphael g.bar g.line g.pie g.custom)
    = csrf_meta_tag
  %body
    = javascript_tag("var user = {api_key: #{current_user.api_key.to_json}}, env = #{Rails.env.to_json};")
    #wrapper
      #header
        %span.right.top_menu
          %ul
            %li= link_to(image_tag('blockie/button-add-blue.png', :style => 'width:24px') << ' Add Widget', '/setup')
            - if request.path_info == dashboard_path
              %li= link_to('Modify Dashboard', '#', :id => 'modify_dashboard_toggle')
            %li= link_to('My Account', user_path(current_user))
            %li= link_to('Logout', logout_path)
        %h1
          = link_to(image_tag('logo.png', :width => 30) << raw(' Motivation Dashboard<sup>beta</sup>'), dashboard_path)
      #main
        = render :partial => 'shared/flashes'
        = yield
      #footer
        = link_to(image_tag('logo.png', :width => 15) << " MotivationDashboard.com", root_path)